.continue{
	background-image: url(../../static/flavormate静态文件/main-interface/bgi-2.png);
	background-size: cover;
	// height: 100%;
	// width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* welcome */
.welcome{
	width: 100%;
	height: 170px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.welcome-left{
	width: 60%;
}
.welcome-left > text{
		font-size: 35rpx;
	}
.welcome-right{
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}
.white{
	color: white;
}
.big{
	font-weight: bold;
}
.circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	// background-color: red;
	// background-size: cover;
}


// datashow
.datashow{
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.datashow-img{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.datashow-img>img{
	// height: 200px;
	height: 100%;
	width: 90%;
}
.row{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 85%;
}

.box1{
	width: 140px;
	height: 40px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	background-color: #b6e5b9;
}
.moodshow{
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.emorow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}
.emorow>img{
	height: 40px;
}

.viewshow {
	height:50px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	// width: 90%;
}
.viewshow>view{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}
.box2{
	width: 150px;
	font-weight: bold;
}
.foodshow{
	height: 50px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.foodshow>.foodshow-1{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 50px;
}
.scroll-container {
  height: 170px;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scroll-view {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow-x: scroll;
  // overflow-y: scroll;
  white-space: nowrap;
  // background-color: red;
}

.scroll-box {
  height: 150px;
  width: 300px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  
  // margin-right: 10px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 150px;
  margin: 0px 15px;
}
.scroll-box>img{
	width: 100%;
	height: 100%;
	position: absolute;
	  
}
.img-buttom{
	height: 45%;
	width: 100%;
	// height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	overflow: visible;
}
// .box-inimg{
// 	height:50px;
// 	width: 100px;
// 	// background-color: yellow;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-around;
// 	overflow: visible;
// }
.btn{
	height: 40px;
	width: 90px;
	background-color: seagreen;
	border-radius: 20px;
	color: #f0f0f0;
	font-size: 14px;
	line-height: 40px;
}
.img-left{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 60%;
	justify-content: space-around;
	overflow: visible;
}
// .img-name{
// 	height: 20px;
// 	color: black;
// 	font-size: 20px;
// 	// background-color: red;
// 	overflow: visible;
	
// }
// .data{
// 	height: 20px;
// 	// background-color: blue;
// 	overflow: visible;
	
// }
.chr-box{
	display: flex;
	flex-direction: column;
	// height: 100px;
	// border-style: solid;
	// border-color: black;overflow: visible;
	height: 80%;
	justify-content: space-around;
	
}
.chr-box-item-1{
	height: 20px;
	    line-height: 20px;
		color: white;
}
.chr-box-item-2{
	height: 20px;
	    line-height: 20px;
		color: #c7c9ce;
}
.box-change{
	width: 100px;
	height: 140px;
	// border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0px 10px;
}
.last{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
}
.last>img{
	width: 80%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}

.img-text{
	font-size: 12px;
	width: 100px;
	overflow: visible;
}