.continue{
	background-image: url(../../static/flavormate静态文件/main-interface/bgi-2.png);
	background-size: cover;
	// height: 100%;
	// width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* welcome */
.welcome{
	width: 100%;
	height: 170px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.welcome-left{
	width: 60%;
}
.welcome-left > text{
		font-size: 35rpx;
	}
.welcome-right{
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}
.white{
	color: white;
}
.big{
	font-weight: bold;
}
.circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: red;
}


// datashow
.datashow{
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.row{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 85%;
}
.box1{
	width: 140px;
	height: 40px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	background-color: #b6e5b9;
}
.moodshow{
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.emorow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.viewshow {
	height:50px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	// width: 90%;
}
.viewshow>view{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}
.box2{
	width: 150px;
	font-weight: bold;
}
.foodshow{
	height: 50px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.foodshow>.foodshow-1{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 50px;
}
.scroll-container {
  height: 170px;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scroll-view {
  height: 150px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.scroll-box {
  height: 150px;
  width: 300px;
  display: inline-block;
  margin-right: 10px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 150px;
}
